PLATFORM_ENVIRONMENT=local

POSTGRES_USER=platform
POSTGRES_PASSWORD=platform
POSTGRES_DB=riding_platform
POSTGRES_PORT=5432
KEYCLOAK_DB=keycloak

REDIS_PORT=6379
KAFKA_PORT=9092

KEYCLOAK_ADMIN_USER=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KEYCLOAK_HTTP_PORT=8081

BACKEND_PORT=8080
BACKEND_LOG_LEVEL=INFO
JAVA_OPTS=-Xms512m -Xmx1024m

AI_SERVICE_PORT=8090
AI_SERVICE_LOG_LEVEL=INFO

RIDER_WEB_PORT=3000
DRIVER_WEB_PORT=3001
ADMIN_WEB_PORT=3002

PROMETHEUS_PORT=9090
GRAFANA_PORT=3005
LOKI_PORT=3100
